<% content_for :current_page, :teams %>
<h1 style="width:80%">Classement Championnat - Excellence B</h1>
<form action="" method="get">
  <%= select_tag "year", options_for_select(YEARS, params[:year].to_i), :onchange => "this.form.submit()", :style=>"float:right" %>
</form>
<table class="classement">
  <tr>
    <th class="position">Clt</th>
    <th class="equipe">Equipe</th>
    <th class="number">J</th>
    <th class="number">G</th>
    <th class="number">N</th>
    <th class="number">P</th>
    <th class="number">Bp</th>
    <th class="number">Bc</th>
    <th class="number">Diff.</th>
    <th class="points">Pts</th>
  </tr>
  <% if params[:year].to_i >= 2011 %>
    <% @teams.each_with_index do |team, idx| %>
      <% team_stats = team[:stats] %>
      <tr class="<%= cycle("light", "shade") %>">
        <td class="position"><%= idx + 1 %></td>
        <td class="equipe"><%= raw  team.is_fuzion ? "<strong>#{link_to(team.name, "#")}</strong>" : link_to(team.name, team_path(team), :class => "other_team") %></td>
        <td class="number"><%= team_stats[:days] %></td>
        <td class="number"><%= team_stats[:victoires] %></td>
        <td class="number"><%= team_stats[:nuls] %></td>
        <td class="number"><%= team_stats[:defaite] %></td>
        <td class="number"><%= team_stats[:goals_in] %></td>
        <td class="number"><%= team_stats[:goals_out] %></td>
        <td class="number"><%= team_stats[:goals_in] - team_stats[:goals_out] %></td>
        <td class="points"><%= team_stats[:points] %></td>
      </tr>
    <% end %>
  <% else %>
    <%= render :partial => "season_#{params[:year]}" %>
  <% end %>
</table>
