<div class="block_details">
  <% if f.object.errors.any? %>
    <div id="errorExplanation">
      <h3>Ce formulaire contient des erreurs:</h3>
      <ul>
        <% f.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= text_field_sthb f, :name, "Nom", "required" %>
    <%= text_field_sthb f, :year, "Année", "required" %>
    <div class="required">
      <label>Type</label>
      <%= f.select :competition_type, Competition::TYPES %>
    </div>
    <div class="required">
      <label>Terminée?</label>
      <span><%= f.radio_button :ended, true %>Oui</span>
      <span><%= f.radio_button :ended, false %>Non</span>
    </div>

    <div class="required" style="clear: both">
      <label>&nbsp;</label>
      <%= link_to button_name, "javascript:void(0)", :onclick => "$('#form_competition').submit()", :class => "awesome green" %>&nbsp;
      <%= link_to "Annuler", :back, :class => "awesome grey" %>
    </div>
  </fieldset>
</div>