<% content_for :current_page, :matches %>
<%= render :layout => 'layout' do %>
  <div class="right_content">
    <div id="commentWrapper">
      <div id="comment">
        <h4>Feuille de match <strong><i><%= @match.team_dom.name %> ( <%= @match.score_dom %> - <%= @match.score_ext %> ) <%= @match.team_ext.name %></i></strong></h4>
        <div class="toolbar">
          <%= link_to "Enregistrer", "javascript:void(0)", :onclick => "$('#form_match').submit()", :class => "awesome green" %>&nbsp;
          <%= link_to "Annuler", :back, :class => "awesome grey" %>
        </div>
      </div>
    </div>
    <%= form_for(@match, :as => :match, :url => update_scoresheet_admin_match_path(@match),
      :html => {:multipart => true, :id => "form_match"}) do |f| %>
      <div class="block_details">
        <% if f.object.errors.any? %>
          <div id="errorExplanation">
            <h3>Ce formulaire contient des erreurs:</h3>
            <ul>
              <% f.object.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <fieldset style="margin-top: 25px">
          <legend>Inscriptions</legend>
          <div style="float:left">
            <div style="font-weight:bold">Convoqués</div>
            <% idx = 1 %>
            <%= f.fields_for :participations do |f_part|%>
              <% if f_part.object.id.blank? || f_part.object.convocation %>

                <% if f_part.object.user.blank? %>
            <div style="clear:both"><%= idx %>. <%= f_part.select :user_id, @users_for_select %></div>
            
                  <%= f_part.hidden_field :convocation, :value => true %>
                <% else %>
                  <div style="float:left"><%= idx %>. <%= f_part.object.user.full_name %></div><div style="float:left" ><%= check_box_tag "unsubscribe[#{f_part.object.id}]", f_part.object.id, false  %> désinscrire</div>
                  <br />
        <% end %>
                <% idx += 1 %>
              <% end %>
            <% end %>
          </div>
          <div style="float:left; color:green; margin-left:40px">
            <div style="font-weight:bold; ">Présents</div>
            <% @presents.each do |present| %>
              <%= present.full_name %><br />
            <% end %>
          </div>
          <div style="float:left; color:red; margin-left:40px">
            <div style="font-weight:bold; ">Absents</div>
            <% @absents.each do |absent| %>
              <%= absent.full_name %><br />
            <% end %>
          </div>
          <div style="float:left; margin-left:40px">
            <div style="font-weight:bold; ">Présence non communiquée</div>
            <% @presence_unknown.each do |unknown| %>
              <%= unknown.full_name %><br />
            <% end %>
          </div>
          <div class="required" style="clear: both">
            <label>&nbsp;</label>
            <%= link_to "Valider", "javascript:void(0)", :onclick => "$('#form_match').submit()", :class => "awesome green" %>&nbsp;
            <%= link_to "Annuler", :back, :class => "awesome grey" %>
          </div>
        </fieldset>
      </div>
    <% end %>
  </div>
<%end%>

