<% content_for :current_page, :users %>
<h1 style="width:80%">Les joueurs de Parlez-Moi d'Immo 2</h1>
<form action="" method="get">
  <%= select_tag "year", options_for_select(YEARS, params[:year].to_i), :onchange => "this.form.submit()", :style=>"float:right" %>
</form>
<table class="joueurs">
  <tr class="first">
    <th class="numero">Num</th>
    <th class="joueur">Joueur</th>
    <th class="poste">Poste</th>
    <th class="competition" colspan="3">Championnat</th>
    <th class="competition" colspan="3">Coupe</th>
    <th class="competition" colspan="3">Amical</th>
    <th class="competition" colspan="3">Total</th>
  </tr>
  <tr class="second">
    <th>&nbsp</th>
    <th>&nbsp</th>
    <th>&nbsp</th>
    <% 4.times do %>
      <th class="stat left">J.</th>
      <th class="stat">B.</th>
      <th class="stat">P.</th>
    <% end %>
  </tr>
  <% if params[:year].to_i >= 2011 %>
    <% @users.each do |user| %>
      <% stats = user.stats(@competitions) %>
      <tr class="<%= cycle("light", "shade") %>">
        <td class="numero"><%= user.number %></td>
        <td class="joueur"><%= user.firstname %></td>
        <td class="poste"><%= user.poste %></td>

        <% [:championnat, :coupe, :amical, :total].each do |comp| %>
          <% s = stats[:"#{comp}"]
          s = {} if s.blank?%>
          <td class="stat left"><%= s[:days].to_i%></td>
          <td class="stat"><%= s[:goals].to_i%></td>
          <td class="stat"><%= s[:passes].to_i%></td>
        <% end %>
      </tr>

    <% end %>
  </table>
  <%= form_tag users_path, :id => "add_amical_form", :method => :get do %>
    Ajouter les matchs amicaux au total <%=x check_box_tag "add_amical", "1", params[:add_amical] == "1", :onclick => "$('#add_amical_form').submit()" %>
  <% end %>
<% else %>
  <%= render :partial => "season_#{params[:year]}" %>
  </table>
<% end %>


