<% content_for :current_page, :home %>
<div class="home">
  <h1>Parlez Moi d'Immo 2</h1>

  <p>
    Nous sommes une equipe de football amateur à 7 créée en 2008 (sous le nom Fuzion 2) par Sebastien Falcon et Vivien Astier.
  </p>
  <p>
    Nous évoluons dans la poule Excellence B du championnat FSGT du Rhône. Celle-ci correspond à la deuxième division (sur 5).
  </p>
  <p>
    Ce site permet de connaitre le calendrier et le classement de notre équipe mais aussi celui de toute notre poule.<br />
  </p>

  <h1>Dernier Match</h1>
  <% if @last_match.blank? %>
    <p>Aucun match</p>
  <% else %>
    <% result = @last_match.fuzion_result? %>

    <p><strong>
    <% if @last_match.competition.competition_type == "Championnat" %>
      <%= "#{@last_match.day_number}#{@last_match.day_number == 1 ? "ere" : "e"} journée de Championnat" %>
      <% else %>
        <%= @last_match.competition.competition_type %>
        <% end %>
    le <%= I18n.l(@last_match.date, :format => :long)  %>
      </strong>
    </p>
    <p class="<%= result %>">
      <%= link_to "#{result.capitalize} #{@last_match.score_dom} - #{@last_match.score_ext} de Parlez-Moi d'Immo 2", match_path(@last_match) %>
    </p>
    <p>
      <%= link_to "En savoir plus", match_path(@last_match) %>
    </p>

<% end %>
</div>