<% content_for :current_page, :palmares %>
<h1>Palmares des années antérieures</h1>
<h2>Saison 2012-2013</h2>
<div class="palmares_content">
  Championnat: <strong>9e - 29 points</strong> Elite A (1ere division)
  <%= link_to "Voir le détail", show_past_year_teams_path(2011) %>
</div>
<div class="palmares_content">Coupe:
  <ul>Poule: 1er</ul>
  <ul>Eliminatoires : Coupe Damien Aznar : <strong>Eliminé au 1er tour</strong></ul>
</div>
<div class="palmares_content">Joueurs: <%= link_to "Voir le détail", show_past_year_users_path(2011) %>
  <ul>Meilleur Buteur : Laurent Buffevant 33 buts (18 matchs) </ul>
  <ul>Meilleur Passeur : Vivien Astier 9 passes (14 matchs)</ul>
</div>
<h2>Saison 2011-2012</h2>
<div class="palmares_content">
  Championnat: <strong>1er - 48 points</strong> Excellence B (2e division)
  <%= link_to "Voir le détail", show_past_year_teams_path(2011) %>
</div>
<div class="palmares_content">Coupe:
  <ul>Poule: 1er</ul>
  <ul>Eliminatoires : Coupe Damien Aznar : <strong>Eliminé au 1er tour</strong></ul>
</div>
<div class="palmares_content">Joueurs: <%= link_to "Voir le détail", show_past_year_users_path(2011) %>
  <ul>Meilleur Buteur : Laurent Buffevant 27 buts (16 matchs) </ul>
  <ul>Meilleur Passeur : Simon Mouren 15 passes (15 matchs)</ul>
</div>
<h2>Saison 2010-2011</h2>
<div class="palmares_content">
  Championnat: <strong>8e - 31 points</strong> Excellence B (2e division)
  <%= link_to "Voir le détail", show_past_year_teams_path(2010) %>
</div>
<div class="palmares_content">Coupe:
  <ul>Poule: 1er</ul>
  <ul>Eliminatoires : Coupe Damien Aznar : <strong>Eliminé au 1er tour</strong></ul>
</div>
<div class="palmares_content">Joueurs: <%= link_to "Voir le détail", show_past_year_users_path(2010) %>
  <ul>Meilleur Buteur : Laurent Buffevant 32 buts (19 matchs) </ul>
  <ul>Meilleur Passeur : Vivien 14 passes (16 matchs)</ul>
</div>
<h2>Saison 2009-2010</h2>
<div class="palmares_content">
  Championnat: <strong>3e - 39 points</strong> Excellence A (2e division)
  <%= link_to "Voir le détail", show_past_year_teams_path(2009) %>
</div>
<div class="palmares_content">Coupe:
  <ul>Poule: 2e</ul>
  <ul>Eliminatoires : Coupe Phillipe Loiseleux : <strong>Finaliste</strong></ul>
</div>
<div class="palmares_content">Joueurs: <%= link_to "Voir le détail", show_past_year_users_path(2009) %>
  <ul>Meilleur Buteur : Fabien Magnan 22 buts (19 matchs) </ul>
  <ul>Meilleur Passeur : Belu 12 passes (24 matchs)</ul>
</div>
<h2>Saison 2008-2009</h2>
<div class="palmares_content">
  Championnat: <strong>5e - 37 points</strong> Excellence B (2e division)
  <%= link_to "Voir le détail", show_past_year_teams_path(2008) %>
</div>
<div class="palmares_content">Coupe:
  <ul>Poule: 2e</ul>
  <ul>Eliminatoires : Coupe Phillipe Loiseleux : <strong>Vainqueurs</strong></ul>
</div>
<div class="palmares_content">Joueurs: <%= link_to "Voir le détail", show_past_year_users_path(2008) %>
  <ul>Meilleur Buteur : Laurent Buffevant 34 buts (20 matchs) </ul>
  <ul>Meilleur Passeur : Vivien 19 passes (20 matchs)</ul>
</div>