<% content_for :current_page, :blogs %>
<% content_for :current_action, :new %>
<%= render :layout => 'layout' do %>
  <%= render :partial => 'admin/posts/left_tree' %>
  <div class="right_content">
         <div id="commentWrapper">
      <div id="comment">
      <h4>Edition de l'actualité <strong><i><%= @post.title %></i></strong></h4>
      <div class="toolbar">
    <%= link_to "Enregistrer", "javascript:void(0)", :onclick => "$('#form_post').submit()", :class => "awesome green" %>&nbsp;
    <%= link_to "Annuler", :back, :class => "awesome grey" %>
      </div>
      </div>
      </div>
    <%= form_for(@post, :as => :post, :url => admin_post_path(@post),
      :html => {:multipart => true, :id => "form_post"}) do |f| %>
      <%= render :partial => "admin/posts/post",
        :locals => {:f => f, :button_name => "Enregistrer"} %>
    <% end %>
  </div>
<%end%>

