<% content_for :current_page, :matches %>
<h1 style="width:80%">Calendrier de Parlez Moi d'Immo 2</h1>
<form action="" method="get">
  <%= select_tag "year", options_for_select(YEARS, params[:year].to_i), :onchange => "this.form.submit()", :style=>"float:right" %>
</form>

<table class="calendrier">
  <% @matches.each do |match| %>
    <tr class="<%= match.competition.competition_type.downcase %> <%= cycle("light", "shade") %>" >
      <td class="type">
        <% if match.competition.competition_type == "Championnat" %>
          Championnat <%= match.day_number %><%= match.day_number == 1 ? "re" : "e" %> journée
        <% else %>
          <%= match.competition.competition_type %>
        <% end %>
      </td>
      <td class="date"><%= I18n.l(match.date, :format => :long) %></td>
      <td class="team_dom">
        <% if match.team_dom.is_fuzion %>
          <%= link_to match.team_dom.name, users_path %>
        <% else %>
          <%= link_to match.team_dom.name, team_path(match.team_dom), :class => "other_team" %>
        <% end %>
      </td>
      <td class="result <%= match.fuzion_result? %>" ><%= link_to "#{match.score_dom} - #{match.score_ext}", match_path(match) %></td>
      <td class="team_ext">
        <% if match.team_ext.is_fuzion %>
          <%= link_to match.team_ext.name, users_path %>
        <% else %>
          <%= link_to match.team_ext.name, team_path(match.team_ext), :class => "other_team" %>
        <% end %>
      </td>
      <td class="participation">
        <% if match.fuzion_play? && !current_user.blank? %>
          <% if match.ended? %>
            <% if current_user.played?(match) %>
              <span class="green">A participé</span>
            <% else %>
              <span class="red">Pas participé</span>
            <% end %>
          <% else %>
            <% participation = current_user.participations.find_by_match_id(match.id)
            presence = participation.blank? || participation.presence_unknown? ? "Disponibilité?" : participation.present? ? "Présent" : "Absent"
          %>
            <%= link_to presence, set_participation_match_path(match) %>
          <% end %>
        <% else %>
          &nbsp;
        <% end %>
      </td>
    </tr>
  <% end %>
</table>