<% content_for :current_page, :matches %>
<div><%= @match.affiche_with_score %></div>
<div><%= I18n.l(@match.date, :format => :long) %></div>
<div style="width:300px; float:left">
  <div>Joueurs</div>
  <table>
    <% @match.participations.convoqued.each do |part| %>
      <tr>
        <td style="width:200px"><%= part.user.firstname %></td>
        <td style="width:100px"><%= @match.notation_out_date < Time.now && !part.notation.blank? ? part.notation.round(1) : "(pas de note)" %></td>
      </tr>
    <% end %>
  </table>
  <div>

    <%= @match.notation_out_date > Time.now ? "Les notes seront affichées #{I18n.l(@match.notation_out_date, :format => :day_and_hour)}" : "" %>
    <br />
<%= link_to "Notez vos coéquipiés",set_notation_match_path(@match) if can?(:set_notation, @match)%>
  </div>
  <div>Buteurs</div>
  <table>
    <% @match.participations.scorer.each do |part| %>
      <tr>
        <td style="width:200px"><%= part.user.firstname %></td>
        <td style="width:100px">
          <% part.goals.times do  %>
            <%= image_tag("ballon.gif") %>
          <% end %></td>
      </tr>
    <% end %>
  </table>
  <div>Passeurs</div>
  <table>
    <% @match.participations.passer.each do |part| %>
      <tr>
        <td style="width:200px"><%= part.user.firstname %></td>
        <td style="width:100px">
          <% part.passes.times do  %>
            <%= image_tag("passe.jpg") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div class="composition tac_<%= @match.composition.gsub("-", "") rescue "321"%>" >
  <% 8.times do |idx| %>
    <div class="position_joueur player_<%= idx %>">
      <%= @match.send("player_#{idx}").firstname rescue "" %><br />
      <%= "(#{@match.send("player_#{idx}_bis").firstname})" rescue "" %>
    </div>
  <% end %>
</div>
<div>Résumé</div>
<%=raw @match.description %>