<% content_for :current_page, :matches %>
<div><%= @match.affiche_with_score %></div>
<div><%= I18n.l(@match.date, :format => :long) %></div>
<div style="width:300px; float:left">
  <div>Joueurs</div>
  <table>
    <% @match.participations.convoqued.each do |part| %>
      <tr>
        <td style="width:150px"><%= part.user.full_name %></td>
        <td style="width:50px"><%= part.notation %></td>
      </tr>
    <% end %>
  </table>
  <div>Buteurs</div>
  <table>
    <% @match.participations.scorer.each do |part| %>
      <tr>
        <td style="width:150px"><%= part.user.full_name %></td>
        <td style="width:50px">
          <% part.goals.times do  %>
            <%= image_tag("ballon.gif") %>
          <% end %></td>
      </tr>
    <% end %>
  </table>
  <div>Passeurs</div>
  <table>
    <% @match.participations.passer.each do |part| %>
      <tr>
        <td style="width:150px"><%= part.user.full_name %></td>
        <td style="width:50px">
          <% part.passes.times do  %>
            <%= image_tag("passe.jpg") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div class="composition tac_<%= @match.composition.gsub("-", "") %>" >
  <% 8.times do |idx| %>
    <div class="position_joueur player_<%= idx %>">
      <%= @match.send("player_#{idx}").full_name rescue "" %><br />
      <%= "(#{@match.send("player_#{idx}_bis").full_name})" rescue "" %>
    </div>
  <% end %>
</div>
<div>Résumé</div>
<%=raw @match.description %>