<div class="block_details">
  <% if f.object.errors.any? %>
    <div id="errorExplanation">
      <h3>Ce formulaire contient des erreurs:</h3>
      <ul>
        <% f.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= text_field_sthb f, :name, "Nom", "required" %>
    <%= text_field_sthb f, :city, "Localité", "required" %>
    <div class="required">
      <label>Est la Fuzion?</label>
      <span><%= f.radio_button :is_fuzion, true %>Oui</span>
      <span><%= f.radio_button :is_fuzion, false %>Non</span>
    </div>
    <fieldset>
      <legend>Compétitions</legend>
      <table>
        <tr>
          <th style="width:100px">Nom</th>
          <th style="width:200px">Pénalités</th>
          <th style="width:50px">Suppr.</th>
        </tr>
        <%= f.fields_for :team_competitions do |f_tc| %>
          <tr>
            <td>
              <% if f_tc.object.id.blank? %>
                <%= f_tc.select :competition_id, [[""]] + (Competition.all - @team.competitions).collect{|c| [c.name, c.id]} %>
              <% else %>
                <%= f_tc.object.competition.name rescue nil%>
              <% end %>
            </td>
            <td><%= f_tc.text_field :penalty, :size => 5 %></td>
            <td><%= check_box_tag "delete_team_competition[#{f_tc.object.id}]", 1, false if !f_tc.object.id.blank? %></td>
          </tr>
        <% end %>
      </table>
    </fieldset>
    <div class="required" style="clear: both">
      <label>&nbsp;</label>
      <%= link_to button_name, "javascript:void(0)", :onclick => "$('#form_team').submit()", :class => "awesome green" %>&nbsp;
      <%= link_to "Annuler", :back, :class => "awesome grey" %>
    </div>
  </fieldset>
</div>