<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Parlez Moi d'Immo 2</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <%= stylesheet_link_tag "application" %>
    <meta name="description" content="#" />
    <meta name="keywords" content="#" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="language" content="Français" />
    <meta name="copyright" content=" Studio HB 2011" />
    <meta name="robots" content="all" />
    <!--<script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">google.load("jquery", "1.6.1");</script>
    <script type="text/javascript">google.load("jqueryui", "1.8.13");</script>-->
    <%= javascript_include_tag  "application" %>
    <%= csrf_meta_tags %>

  </head>
  <body id="body">
    <div class="global">
      <div class="conteneur">
        <div class="conteneur_style">

          <div class="header">
            <div class="login" id="login_content">

            </div>
            <div class="header_content">
              <h1>Parlez Moi d'Immo 2</h1>
            </div>

          </div>
          <!-- nice menu -->
          <div class="navcontainer01">
            <ul>
              <li <%= raw "class='current'" if (yield :current_page) == "home" %> ><%= link_to 'Accueil',  root_path, :class => 'first' %></li>
              <li <%= raw "class='current'" if (yield :current_page) == "matches" %> ><%= link_to 'Calendrier',  matches_path %></li>
              <li <%= raw "class='current'" if (yield :current_page) == "teams" %> ><%= link_to 'Classement',  teams_path %></li>
              <li <%= raw "class='current'" if (yield :current_page) == "users" %> ><%= link_to "L'équipe",  users_path %></li>
              <li <%= raw "class='current'" if (yield :current_page) == "palmares" %> ><%= link_to "Palmarès",  palmares_path %></li>
            </ul>
          </div>


          <div class="content">
            <%= yield %>
          </div>
        </div>

      </div>

    </div>

    <div class="footer">
      <div class="footer_style">
        <span>
          Nous vous conseillons d'utiliser un vrai navigateur pour consulter ce site 
          ( <%= link_to "Chrome", "http://www.google.com/chrome?hl=fr" %>, 
          <%= link_to "Firefox", "http://www.mozilla-europe.org/fr/" %> ou encore
          <%= link_to "Safari", "http://www.apple.com/fr/safari/" %>)
          <br />
          Site développé en <%= link_to "Ruby on Rails", "http://rubyonrails.org/", :target => "_blank" %>
          par <%= link_to "Laurent B", "https://twitter.com/CupraR_on_rails", :target => "_blank" %>
        </span>

      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {

        $.ajax({
          url: "<%= login_content_path %>",
          dataType: "html",
          success: function(html){
            $("#login_content")[0].innerHTML =html
          }
        });
      });

    </script>
  </body>
</html>







